@import '../../assets/styles/vars';
.word-gallery {
  height: 78.4vh;
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.btnPrev,
.btnNext {
  width: 250px;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(135deg, #003366, #336699);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background: linear-gradient(135deg, #336699, #003366);
    transform: scale(1.05);
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background: linear-gradient(135deg, #799cca, #515151);
    color: #cccccc;
    cursor: not-allowed;
    transform: none;
  }
}
