@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.header {
  background-color: $primary-color;
  color: $text-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 600px;
  align-items: center;
  height: 63px;
  flex-shrink: 0;

  .logo {
    width: 20%;
  }
  .logo-image {
    width: 110px;
    border-radius: 8px;
  }

  nav {
    width: 30%;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-left: 20px;

        a {
          text-decoration: none;
          color: $text-color;
          padding: 5px;
          @include transition(color, $transition-speed, ease-in-out);

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
